.DS_Store
Thumbs.db
node_modules
.env
.env.*
.next
out
android/.gradle
android/.idea
android/local.properties
android/app/build
android/build
android/app/*.jks
android/app/*.keystore
android/app/release-keystore.jks
